<div style="opacity:40%">

    <div class="circle0">
    </div>
    <div class="circle1">
    </div>
    <div class="circle2">
    </div>
    <div class="circle3">
    </div>
    <div class="circle4">
    </div>
    <div class="circle5">
    </div>
    <div class="circle6">
    </div>
    <div class="circle7">
    </div>
    <div class="circle8">
    </div>
    <div class="circle9">
    </div>
    <div class="circle10">
    </div>
    <div class="circle11">
    </div>
</div>
<style>
    .circle0 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='346' cy='291' r='40' fill='%23C9A22734' /%3E%3C/svg%3E");
        animation: stars0 171s infinite linear;
    }

    @@keyframes stars0 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='360' cy='277' r='21' fill='%23C9A22734' /%3E%3C/svg%3E");
        animation: stars1 191s infinite linear;
    }

    @@keyframes stars1 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='377' cy='415' r='15' fill='%234A7C5934' /%3E%3C/svg%3E");
        animation: stars2 180s infinite linear;
    }

    @@keyframes stars2 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='549' cy='467' r='53' fill='%234A7C5934' /%3E%3C/svg%3E");
        animation: stars3 171s infinite linear;
    }

    @@keyframes stars3 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='290' cy='580' r='74' fill='%238B735534' /%3E%3C/svg%3E");
        animation: stars4 196s infinite linear;
    }

    @@keyframes stars4 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle5 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='409' cy='129' r='46' fill='%23A0522D34' /%3E%3C/svg%3E");
        animation: stars5 190s infinite linear;
    }

    @@keyframes stars5 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle6 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='364' cy='755' r='22' fill='%238B735534' /%3E%3C/svg%3E");
        animation: stars6 178s infinite linear;
    }

    @@keyframes stars6 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle7 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='227' cy='605' r='42' fill='%234A7C5934' /%3E%3C/svg%3E");
        animation: stars7 153s infinite linear;
    }

    @@keyframes stars7 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle8 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='587' cy='313' r='54' fill='%235C534634' /%3E%3C/svg%3E");
        animation: stars8 123s infinite linear;
    }

    @@keyframes stars8 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle9 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='220' cy='640' r='21' fill='%23C9A22734' /%3E%3C/svg%3E");
        animation: stars9 187s infinite linear;
    }

    @@keyframes stars9 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }

    .circle10 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='498' cy='655' r='43' fill='%235C534634' /%3E%3C/svg%3E");
        animation: stars10 125s infinite linear;
    }

    @@keyframes stars10 {
        from {
            background-position: 0px 0px;
        }

        to {
            background-position: 10000px 5000px;
        }
    }

    .circle11 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Ccircle cx='171' cy='477' r='74' fill='%235C534634' /%3E%3C/svg%3E");
        animation: stars11 123s infinite linear;
    }

    @@keyframes stars11 {
        from {
            background-position: 10000px 5000px;
        }

        to {
            background-position: 0px 0px;
        }
    }
</style>